[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
djangorestframework = "*"
pytz = "*"
sqlparse = "*"
Django = "*"
flake8 = "*"
mypy = "*"
django-stubs = "*"
djangorestframework-stubs = "*"
psycopg2-binary = "*"
flake8-html = "*"
pytest-django = "*"
autopep8 = "*"
pytest-cov = "*"
sentry-sdk = "*"
djangorestframework-simplejwt = "*"
django-filter = "*"
coverage = "*"
coverage-badge = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
